<app-nav>
  <app-button imageButton [config]="navImageButton.button.config">
    <app-image
      [data]="navImageButton.image.data"
      [config]="navImageButton.image.config"
    ></app-image>
  </app-button>
  <div content>
    <h3 class="text-xl font-semibold">{{ username }}</h3>
    <ul class="mt-6">
      <li *ngFor="let navImageLinkOption of navImageLinkOptions">
        <app-link
          [data]="navImageLinkOption.link.data"
          [action]="navImageLinkOption.link.action"
        >
          <div class="flex gap-4 p-4 hover:bg-primary items-center">
            <app-image
              [data]="navImageLinkOption.image.data"
              [config]="navImageLinkOption.image.config"
            ></app-image>
            <span class="text-md">{{ navImageLinkOption.label }}</span>
          </div>
        </app-link>
      </li>
    </ul>
  </div>
</app-nav>
