<label class="text-primary" for="input">{{ data.label }}</label>
<div class="flex flex-col justify-center relative mt-2">
  <input
    class="bg-secondary text-white border outline-none py-2 px-4 rounded-3xl"
    [type]="inputType"
    name="input"
    [ngClass]="{
      'border-red': data.formControl.invalid && data.formControl.touched,
      'border-white': data.formControl.valid
    }"
    [placeholder]="data.placeholder"
    [formControl]="data.formControl"
  />
  <app-button
    *ngIf="config.type === 'password'"
    class="absolute right-5 flex justify-center"
    [config]="eyeImageButton.button.config"
    [action]="getToggleShowPasswordFn()"
  >
    <app-image
      [data]="eyeImageButton.image.data"
      [config]="eyeImageButton.image.config"
    ></app-image>
  </app-button>
</div>
