.circle {
  position: absolute;
  border-radius: 100%;
}

.circle--rigth {
  top: 0;
  width: 90vh;
  height: 90vh;
  right: -45vh;
}

.circle--left {
  top: 100vh;
  width: 100vh;
  height: 100vh;
  left: -40vh;
}

.circle--bottom{
  width: 100vh;
  height: 100vh;
  bottom: -50vh;
  left: calc(50% - 50vh);
}

@media (max-width: 768px) {
  .circle--rigth {
    right: -65vh;
  }

  .circle--left {
    top: 5%;
    left: -70vh;
    margin-top: 120vh;
  }
}
